In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('./Data/weather_m4.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 14 columns):
YYYYMMDD           8784 non-null int64
TIME               8784 non-null int64
TEMP               8784 non-null int64
MIN_TEMP_GROUND    1464 non-null float64
PRESSURE           8784 non-null int64
HUMIDITY           8784 non-null int64
VIEW_RANGE         8743 non-null float64
CLOUD              8743 non-null float64
MIST               8741 non-null float64
RAIN               8741 non-null float64
SNOW               8741 non-null float64
THUNDER            8741 non-null float64
ICE                8741 non-null float64
WEATHER_CODE       3862 non-null float64
dtypes: float64(9), int64(5)
memory usage: 960.8 KB

In [3]:
df[['MIN_TEMP_GROUND', 'VIEW_RANGE', 'CLOUD', 'WEATHER_CODE']].head(15)

    MIN_TEMP_GROUND  VIEW_RANGE  CLOUD  WEATHER_CODE
0               NaN        56.0    4.0          10.0
1               NaN        57.0    2.0          10.0
2               NaN        56.0    7.0          23.0
3               NaN        57.0    7.0          51.0
4               NaN        56.0    7.0          22.0
5               3.0         9.0    0.0          34.0
6               NaN         5.0    0.0          34.0
7               NaN         1.0    0.0          34.0
8               NaN         2.0    0.0          32.0
9               NaN         5.0    0.0          32.0
10              NaN        64.0    0.0          20.0
11            -17.0        70.0    0.0           2.0
12              NaN        69.0    2.0           NaN
13              NaN        67.0    8.0           NaN
14              NaN        50.0    8.0          10.0

In [6]:
df.isnull()

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE,WEATHER_CODE
0,False,False,False,True,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,True,False,False,False,False,False,False,False,False,False,False
7,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8,False,False,False,True,False,False,False,False,False,False,False,False,False,False
9,False,False,False,True,False,False,False,False,False,False,False,False,False,False
10,False,False,False,True,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,True,False,False,False,False,False,False,False,False,False,True
13,False,False,False,True,False,False,False,False,False,False,False,False,False,True
14,False,False,False,True,False,False,False,False,False,False,False,False,False,False
15,False,False,False,True,False,False,False,False,False,False,False,False,False,False
16,False,False,False,True,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,True,False,False,False,False,False,False,False,False,False,False
19,False,False,False,True,False,False,False,False,False,False,False,False,False,False
20,False,False,False,True,False,False,False,False,False,False,False,False,False,False
21,False,False,False,True,False,False,False,False,False,False,False,False,False,False
22,False,False,False,True,False,False,False,False,False,False,False,False,False,True
23,False,False,False,False,False,False,False,False,False,False,False,False,False,True
24,False,False,False,True,False,False,False,False,False,False,False,False,False,True
25,False,False,False,True,False,False,False,False,False,False,False,False,False,True
26,False,False,False,True,False,False,False,False,False,False,False,False,False,True
27,False,False,False,True,False,False,False,False,False,False,False,False,False,False
28,False,False,False,True,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8755,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8756,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8757,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8758,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8759,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8760,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8761,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8762,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8763,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8764,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8765,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8766,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8767,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8768,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8769,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8770,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8771,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8772,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8773,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8774,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8775,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8776,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8777,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8778,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8779,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8780,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8781,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8782,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8783,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
# Show all columns with null values
df.isnull().any()

YYYYMMDD           False
TIME               False
TEMP               False
MIN_TEMP_GROUND     True
PRESSURE           False
HUMIDITY           False
VIEW_RANGE          True
CLOUD               True
MIST                True
RAIN                True
SNOW                True
THUNDER             True
ICE                 True
WEATHER_CODE        True
dtype: bool

In [8]:
# Show all rows with any null values
df.isnull().any(axis=1)

0        True
1        True
2        True
3        True
4        True
5       False
6        True
7        True
8        True
9        True
10       True
11      False
12       True
13       True
14       True
15       True
16       True
17      False
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
28       True
29      False
        ...
8754     True
8755     True
8756     True
8757     True
8758     True
8759    False
8760     True
8761     True
8762     True
8763     True
8764     True
8765    False
8766     True
8767     True
8768     True
8769     True
8770     True
8771    False
8772     True
8773     True
8774     True
8775     True
8776     True
8777    False
8778     True
8779     True
8780     True
8781     True
8782     True
8783    False
Length: 8784, dtype: bool

In [9]:
type(df.isnull().any(axis=1))

pandas.core.series.Series

In [10]:
#Select the rows containing any null values using the series above
df[df.isnull().any(axis=1)]

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE,WEATHER_CODE
0,20160101,1,68,NaN,10207,87,56.0,4.0,0.0,0.0,0.0,0.0,0.0,10.0
1,20160101,2,58,NaN,10214,92,57.0,2.0,0.0,0.0,0.0,0.0,0.0,10.0
2,20160101,3,57,NaN,10220,92,56.0,7.0,0.0,1.0,0.0,0.0,0.0,23.0
3,20160101,4,60,NaN,10225,93,57.0,7.0,0.0,1.0,0.0,0.0,0.0,51.0
4,20160101,5,45,NaN,10230,95,56.0,7.0,0.0,1.0,0.0,0.0,0.0,22.0
6,20160101,7,11,NaN,10242,99,5.0,0.0,1.0,0.0,0.0,0.0,0.0,34.0
7,20160101,8,7,NaN,10245,100,1.0,0.0,1.0,0.0,0.0,0.0,1.0,34.0
8,20160101,9,2,NaN,10248,99,2.0,0.0,1.0,0.0,0.0,0.0,1.0,32.0
9,20160101,10,20,NaN,10249,100,5.0,0.0,1.0,0.0,0.0,0.0,0.0,32.0
10,20160101,11,72,NaN,10245,88,64.0,0.0,1.0,0.0,0.0,0.0,0.0,20.0
12,20160101,13,77,NaN,10231,84,69.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN
13,20160101,14,72,NaN,10225,87,67.0,8.0,0.0,0.0,0.0,0.0,0.0,NaN
14,20160101,15,53,NaN,10220,95,50.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
15,20160101,16,50,NaN,10217,98,14.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
16,20160101,17,49,NaN,10205,98,19.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
18,20160101,19,54,NaN,10188,97,48.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
19,20160101,20,57,NaN,10183,95,44.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
20,20160101,21,54,NaN,10170,95,50.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
21,20160101,22,53,NaN,10161,94,57.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
22,20160101,23,54,NaN,10146,93,60.0,8.0,0.0,0.0,0.0,0.0,0.0,NaN
23,20160101,24,56,47.0,10140,90,63.0,8.0,0.0,0.0,0.0,0.0,0.0,NaN
24,20160102,1,56,NaN,10124,89,64.0,8.0,0.0,0.0,0.0,0.0,0.0,NaN
25,20160102,2,56,NaN,10119,86,64.0,8.0,0.0,0.0,0.0,0.0,0.0,NaN
26,20160102,3,55,NaN,10109,86,64.0,8.0,0.0,0.0,0.0,0.0,0.0,NaN
27,20160102,4,54,NaN,10102,88,60.0,8.0,0.0,1.0,0.0,0.0,0.0,51.0
28,20160102,5,53,NaN,10093,89,61.0,8.0,0.0,1.0,0.0,0.0,0.0,51.0
30,20160102,7,51,NaN,10087,90,59.0,8.0,0.0,1.0,0.0,0.0,0.0,58.0
31,20160102,8,50,NaN,10083,93,57.0,8.0,0.0,1.0,0.0,0.0,0.0,61.0
32,20160102,9,51,NaN,10082,95,57.0,8.0,0.0,1.0,0.0,0.0,0.0,61.0
33,20160102,10,54,NaN,10083,95,57.0,8.0,0.0,1.0,0.0,0.0,0.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8748,20161230,13,19,NaN,10364,98,19.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8749,20161230,14,38,NaN,10360,94,42.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8750,20161230,15,44,NaN,10356,93,50.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8751,20161230,16,34,NaN,10356,94,50.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8752,20161230,17,39,NaN,10351,93,50.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8754,20161230,19,39,NaN,10354,92,56.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8755,20161230,20,36,NaN,10354,93,45.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8756,20161230,21,35,NaN,10352,93,43.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8757,20161230,22,35,NaN,10348,93,43.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8758,20161230,23,36,NaN,10344,94,36.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8760,20161231,1,39,NaN,10338,94,26.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8761,20161231,2,36,NaN,10336,98,5.0,8.0,1.0,0.0,0.0,0.0,0.0,34.0
8762,20161231,3,34,NaN,10333,99,3.0,9.0,1.0,0.0,0.0,0.0,0.0,34.0
8763,20161231,4,32,NaN,10331,99,3.0,9.0,1.0,0.0,0.0,0.0,0.0,33.0
8764,20161231,5,30,NaN,10328,99,3.0,9.0,1.0,0.0,0.0,0.0,0.0,33.0
8766,20161231,7,32,NaN,10324,99,5.0,9.0,1.0,0.0,0.0,0.0,0.0,32.0
8767,20161231,8,34,NaN,10324,99,2.0,9.0,1.0,0.0,0.0,0.0,0.0,34.0
8768,20161231,9,34,NaN,10324,99,3.0,9.0,1.0,0.0,0.0,0.0,0.0,32.0
8769,20161231,10,33,NaN,10321,99,4.0,9.0,1.0,0.0,0.0,0.0,0.0,32.0
8770,20161231,11,39,NaN,10317,98,15.0,8.0,1.0,0.0,0.0,0.0,0.0,20.0
8772,20161231,13,50,NaN,10301,96,31.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8773,20161231,14,52,NaN,10295,96,32.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8774,20161231,15,51,NaN,10288,97,26.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8775,20161231,16,46,NaN,10286,97,20.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8776,20161231,17,41,NaN,10284,98,11.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8778,20161231,19,35,NaN,10271,98,7.0,9.0,1.0,0.0,0.0,0.0,0.0,34.0
8779,20161231,20,35,NaN,10265,98,11.0,8.0,1.0,0.0,0.0,0.0,0.0,20.0
8780,20161231,21,34,NaN,10258,98,9.0,9.0,1.0,0.0,0.0,0.0,0.0,34.0
8781,20161231,22,30,NaN,10253,98,9.0,9.0,1.0,1.0,0.0,0.0,0.0,33.0
8782,20161231,23,28,NaN,10246,98,6.0,9.0,1.0,1.0,0.0,0.0,0.0,34.0

In [11]:
# Scenario: check for columns that **only** contain null values.
# Can use the all() function to check this:
df.isnull().all()

YYYYMMDD           False
TIME               False
TEMP               False
MIN_TEMP_GROUND    False
PRESSURE           False
HUMIDITY           False
VIEW_RANGE         False
CLOUD              False
MIST               False
RAIN               False
SNOW               False
THUNDER            False
ICE                False
WEATHER_CODE       False
dtype: bool

In [12]:
# Above, all columns return false because no column contains only null values

In [21]:
# Now check for all rows that **only** contain null values.
# Do the same using the axis=1 specifier:
df.isnull().all(axis=1)

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
8754    False
8755    False
8756    False
8757    False
8758    False
8759    False
8760    False
8761    False
8762    False
8763    False
8764    False
8765    False
8766    False
8767    False
8768    False
8769    False
8770    False
8771    False
8772    False
8773    False
8774    False
8775    False
8776    False
8777    False
8778    False
8779    False
8780    False
8781    False
8782    False
8783    False
Length: 8784, dtype: bool

In [22]:
# Check if any true value in this list, so can say any() again:
df.isnull().all(axis=1).any()

False

In [23]:
# Above shows that every row in the DataFrame contains at least one value.

In [24]:
# notnull() returns True for every value which is not null.

In [25]:
# So to get all columns that have no values at all:
df.notnull().all()

YYYYMMDD            True
TIME                True
TEMP                True
MIN_TEMP_GROUND    False
PRESSURE            True
HUMIDITY            True
VIEW_RANGE         False
CLOUD              False
MIST               False
RAIN               False
SNOW               False
THUNDER            False
ICE                False
WEATHER_CODE       False
dtype: bool

In [26]:
# Scenario: given that the column MIN_GROUND_TEMP is stated that it is
# measured only every 6 hours, how can I check this?

In [27]:
# Start by making a list of all positions in the column where I suspect that 
# there should be a number.
# Use range(5, len(df), 6) to generate a list of numbers starting with 5,
# up to the length of the DataFrame, with a step size of 6:
range(5, len(df), 6)

range(5, 8784, 6)

In [28]:
# This can be made into a pandas series to display the contents (not actually
# necessary to do):
pd.Series(range(5, 8784, 6))

0          5
1         11
2         17
3         23
4         29
5         35
6         41
7         47
8         53
9         59
10        65
11        71
12        77
13        83
14        89
15        95
16       101
17       107
18       113
19       119
20       125
21       131
22       137
23       143
24       149
25       155
26       161
27       167
28       173
29       179
        ...
1434    8609
1435    8615
1436    8621
1437    8627
1438    8633
1439    8639
1440    8645
1441    8651
1442    8657
1443    8663
1444    8669
1445    8675
1446    8681
1447    8687
1448    8693
1449    8699
1450    8705
1451    8711
1452    8717
1453    8723
1454    8729
1455    8735
1456    8741
1457    8747
1458    8753
1459    8759
1460    8765
1461    8771
1462    8777
1463    8783
Length: 1464, dtype: int64

In [30]:
#Store the list in a variable:
every_6th_row = pd.Series(range(5, 8784, 6))

In [31]:
# This series can be used to retrieve rows from the data, so take the
# MIN_TEMP_GROUND column, and index it with the Series of positions.
# This will select every sixth row from this column:
df['MIN_TEMP_GROUND'][every_6th_row]

5         3.0
11      -17.0
17       47.0
23       47.0
29       48.0
35       47.0
41       62.0
47       64.0
53       71.0
59       71.0
65       56.0
71       50.0
77       42.0
83       51.0
89       69.0
95       64.0
101      54.0
107      61.0
113      66.0
119      62.0
125      54.0
131      38.0
137      37.0
143      37.0
149      42.0
155      51.0
161      53.0
167      62.0
173      56.0
179      56.0
        ...
8609     81.0
8615     84.0
8621     85.0
8627     93.0
8633    107.0
8639    100.0
8645     74.0
8651     75.0
8657     61.0
8663     61.0
8669     62.0
8675     40.0
8681     39.0
8687    -21.0
8693    -45.0
8699    -35.0
8705     32.0
8711    -21.0
8717     -5.0
8723     -8.0
8729     -4.0
8735    -17.0
8741    -17.0
8747     -8.0
8753     11.0
8759     32.0
8765     29.0
8771     29.0
8777     37.0
8783     26.0
Name: MIN_TEMP_GROUND, Length: 1464, dtype: float64

In [32]:
# Check for a value that is NOT NaN in each cell:
df['MIN_TEMP_GROUND'][every_6th_row].notnull()

5       True
11      True
17      True
23      True
29      True
35      True
41      True
47      True
53      True
59      True
65      True
71      True
77      True
83      True
89      True
95      True
101     True
107     True
113     True
119     True
125     True
131     True
137     True
143     True
149     True
155     True
161     True
167     True
173     True
179     True
        ...
8609    True
8615    True
8621    True
8627    True
8633    True
8639    True
8645    True
8651    True
8657    True
8663    True
8669    True
8675    True
8681    True
8687    True
8693    True
8699    True
8705    True
8711    True
8717    True
8723    True
8729    True
8735    True
8741    True
8747    True
8753    True
8759    True
8765    True
8771    True
8777    True
8783    True
Name: MIN_TEMP_GROUND, Length: 1464, dtype: bool

In [33]:
# Summarise that by calling the function all(). This will return True, if
# all cells contain a value that is NOT NaN:
df['MIN_TEMP_GROUND'][every_6th_row].notnull().all()

True

In [34]:
# Scenario: check the opposite hypothesis - are all other rows empty?

In [36]:
# Drop every 6th row by using the drop() function:
df['MIN_TEMP_GROUND'].drop(every_6th_row)

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
30     NaN
31     NaN
32     NaN
33     NaN
34     NaN
        ..
8748   NaN
8749   NaN
8750   NaN
8751   NaN
8752   NaN
8754   NaN
8755   NaN
8756   NaN
8757   NaN
8758   NaN
8760   NaN
8761   NaN
8762   NaN
8763   NaN
8764   NaN
8766   NaN
8767   NaN
8768   NaN
8769   NaN
8770   NaN
8772   NaN
8773   NaN
8774   NaN
8775   NaN
8776   NaN
8778   NaN
8779   NaN
8780   NaN
8781   NaN
8782   NaN
Name: MIN_TEMP_GROUND, Length: 7320, dtype: float64

In [37]:
# Check that all remaining values are null or not:
df['MIN_TEMP_GROUND'].drop(every_6th_row).isnull()

0       True
1       True
2       True
3       True
4       True
6       True
7       True
8       True
9       True
10      True
12      True
13      True
14      True
15      True
16      True
18      True
19      True
20      True
21      True
22      True
24      True
25      True
26      True
27      True
28      True
30      True
31      True
32      True
33      True
34      True
        ...
8748    True
8749    True
8750    True
8751    True
8752    True
8754    True
8755    True
8756    True
8757    True
8758    True
8760    True
8761    True
8762    True
8763    True
8764    True
8766    True
8767    True
8768    True
8769    True
8770    True
8772    True
8773    True
8774    True
8775    True
8776    True
8778    True
8779    True
8780    True
8781    True
8782    True
Name: MIN_TEMP_GROUND, Length: 7320, dtype: bool

In [38]:
# Check that all values are True using all():
df['MIN_TEMP_GROUND'].drop(every_6th_row).isnull().all()

True

In [45]:
# Exercise: rewrite the above using loc instead of chained indexing:

<h1>Handling Missing Values</h1>

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 14 columns):
YYYYMMDD           8784 non-null int64
TIME               8784 non-null int64
TEMP               8784 non-null int64
MIN_TEMP_GROUND    1464 non-null float64
PRESSURE           8784 non-null int64
HUMIDITY           8784 non-null int64
VIEW_RANGE         8743 non-null float64
CLOUD              8743 non-null float64
MIST               8741 non-null float64
RAIN               8741 non-null float64
SNOW               8741 non-null float64
THUNDER            8741 non-null float64
ICE                8741 non-null float64
WEATHER_CODE       3862 non-null float64
dtypes: float64(9), int64(5)
memory usage: 960.8 KB

In [48]:
# Drop the column WEATHER_CODE:
df.drop(columns='WEATHER_CODE', inplace=True)

<h2>Function fillna()</h2>

In [49]:
# function fillna() can be used to fill NaN values:
df['MIN_TEMP_GROUND'].fillna(0)

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        3.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11     -17.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17      47.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23      47.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29      48.0
        ...
8754     0.0
8755     0.0
8756     0.0
8757     0.0
8758     0.0
8759    32.0
8760     0.0
8761     0.0
8762     0.0
8763     0.0
8764     0.0
8765    29.0
8766     0.0
8767     0.0
8768     0.0
8769     0.0
8770     0.0
8771    29.0
8772     0.0
8773     0.0
8774     0.0
8775     0.0
8776     0.0
8777    37.0
8778     0.0
8779     0.0
8780     0.0
8781     0.0
8782     0.0
8783    26.0
Name: MIN_TEMP_GROUND, Length: 8784, dtype: float64

In [51]:
# parameter 'method' can be set to 'ffil', which takes each measurement, and
# fills the NaN values after that with the last non-NaN value, until a new
# NaN value is found, and continue with that value:
df['MIN_TEMP_GROUND'].fillna(method='ffill')

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        3.0
6        3.0
7        3.0
8        3.0
9        3.0
10       3.0
11     -17.0
12     -17.0
13     -17.0
14     -17.0
15     -17.0
16     -17.0
17      47.0
18      47.0
19      47.0
20      47.0
21      47.0
22      47.0
23      47.0
24      47.0
25      47.0
26      47.0
27      47.0
28      47.0
29      48.0
        ...
8754    11.0
8755    11.0
8756    11.0
8757    11.0
8758    11.0
8759    32.0
8760    32.0
8761    32.0
8762    32.0
8763    32.0
8764    32.0
8765    29.0
8766    29.0
8767    29.0
8768    29.0
8769    29.0
8770    29.0
8771    29.0
8772    29.0
8773    29.0
8774    29.0
8775    29.0
8776    29.0
8777    37.0
8778    37.0
8779    37.0
8780    37.0
8781    37.0
8782    37.0
8783    26.0
Name: MIN_TEMP_GROUND, Length: 8784, dtype: float64

In [52]:
# Can use bfill to fill backwards:
df['MIN_TEMP_GROUND'].fillna(method='bfill')

0        3.0
1        3.0
2        3.0
3        3.0
4        3.0
5        3.0
6      -17.0
7      -17.0
8      -17.0
9      -17.0
10     -17.0
11     -17.0
12      47.0
13      47.0
14      47.0
15      47.0
16      47.0
17      47.0
18      47.0
19      47.0
20      47.0
21      47.0
22      47.0
23      47.0
24      48.0
25      48.0
26      48.0
27      48.0
28      48.0
29      48.0
        ...
8754    32.0
8755    32.0
8756    32.0
8757    32.0
8758    32.0
8759    32.0
8760    29.0
8761    29.0
8762    29.0
8763    29.0
8764    29.0
8765    29.0
8766    29.0
8767    29.0
8768    29.0
8769    29.0
8770    29.0
8771    29.0
8772    37.0
8773    37.0
8774    37.0
8775    37.0
8776    37.0
8777    37.0
8778    26.0
8779    26.0
8780    26.0
8781    26.0
8782    26.0
8783    26.0
Name: MIN_TEMP_GROUND, Length: 8784, dtype: float64